<!--
  Generated template for the ValidateFileExtensionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Resultado Avaliação OA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!--  <p *ngIf="hasErro">Erro: {{hasErro}}</p>-->
<!--  <p *ngIf="hasFile">Nome do Arquivo: {{hasFile.name}}</p>-->
<!--  <p *ngIf="hasFile">URI: {{hasFile.uri}}</p>-->
<!--  <p *ngIf="hasFile">DataURI: {{hasFile.dataURI}}</p>-->
<!--  <p *ngIf="hasFile">MediaType: {{hasFile.mediaType}}</p>-->
  <ion-title  class="bg-theme-2"><div class="line-break-down ptb-5">Resumo da Avaliação:</div></ion-title>
  <ion-card>
    <ion-list>
      <ion-item>
        <div class="line-break-down">Foram avaliadas {{cRegrasAvaliadas}} regras de um total de {{(cRegrasNaoAvaliadas+cRegrasAvaliadas)}} regras.</div>
      </ion-item>
      <ion-item>
        <div class="line-break-down">O OA passou em {{cRegrasSemErro}} regras.</div>
      </ion-item>
      <ion-item>
        <div  class="line-break-down">O OA não passou em {{cRegrasComErro}} regras.</div>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-title  class="bg-theme-2 ptb-5" *ngIf="diretrizesPorDeficienciaComErro != null && diretrizesPorDeficienciaComErro.length > 0"><div class="line-break-down">Diretrizes Não Contempladas:</div></ion-title>
  <ion-card *ngFor="let deficienciaAtual of diretrizesPorDeficienciaComErro">
    <ion-list>
      <ion-list-header class="title-card">
        <div class="line-break-down b-dotted-np">{{deficienciaAtual.descricaoDeficiencia}}</div>
      </ion-list-header>
      <ion-item *ngFor="let diretrizAtual of deficienciaAtual.diretrizes" class="line-break-down">
        <div class="line-break-down">{{diretrizAtual.getDescricaoDiretriz()}}</div>
<!--        <div class="line-break-down">{{diretrizAtual.getRecomendacao()}}</div>-->
        <hr>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-title  class="bg-theme-2 ptb-5" *ngIf="diretrizesPorDeficienciaSemErro != null && diretrizesPorDeficienciaSemErro.length > 0"><div class="line-break-down" >Diretrizes Contempladas:</div></ion-title>
  <ion-card *ngFor="let deficienciaAtual2 of diretrizesPorDeficienciaSemErro">
    <ion-list>
      <ion-list-header class="title-card">
        <div class="line-break-down b-dotted-np">{{deficienciaAtual2.descricaoDeficiencia}}</div>
      </ion-list-header>
      <ion-item *ngFor="let diretrizAtual2 of deficienciaAtual2.diretrizes" class="line-break-down">
        <div class="line-break-down">{{diretrizAtual2.getDescricaoDiretriz()}}</div>
<!--        <div class="line-break-down">{{diretrizAtual2.getRecomendacao()}}</div>-->
        <hr>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
