<!--
  Generated template for the ValidateFileExtensionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Resultado Avaliação OA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!--  <p *ngIf="hasErro">Erro: {{hasErro}}</p>-->
<!--  <p *ngIf="hasFile">Nome do Arquivo: {{hasFile.name}}</p>-->
<!--  <p *ngIf="hasFile">URI: {{hasFile.uri}}</p>-->
<!--  <p *ngIf="hasFile">DataURI: {{hasFile.dataURI}}</p>-->
<!--  <p *ngIf="hasFile">MediaType: {{hasFile.mediaType}}</p>-->
  <ion-card class="mb-20 bl-white line-h-28">
    <ion-title  class="bg-theme-3" *ngIf="(cRegrasAvaliadas+cRegrasNaoAvaliadas) > 0">
      <div class="line-break-down ptb-5">Resumo da Avaliação:</div>
    </ion-title>
  </ion-card>

  <ion-card *ngIf="(cRegrasAvaliadas+cRegrasNaoAvaliadas) > 0" class="bl-3 mb-15">
    <ion-list>
      <ion-item class="pt-10 ptb-10">
        <p class="line-break-down">Foram avaliadas {{cRegrasAvaliadas}} regras de um total de {{(cRegrasNaoAvaliadas+cRegrasAvaliadas)}} regras.</p>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="(cRegrasAvaliadas+cRegrasNaoAvaliadas) > 0" class="bl-3 mb-15">
    <ion-list>
      <ion-item class="pt-10 ptb-10">
        <p class="line-break-down">O OA passou em {{cRegrasSemErro}} regra(s).</p>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="(cRegrasAvaliadas+cRegrasNaoAvaliadas) > 0" class="bl-3 mb-15">
    <ion-list>
      <ion-item class="pt-10 ptb-10 mb-15">
        <p class="line-break-down">O OA não passou em {{cRegrasComErro}} regra(s).</p>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="(cRegrasAvaliadas+cRegrasNaoAvaliadas) > 0" class="bl-3 mb-15">
    <ion-list>
      <ion-item class="pt-10 ptb-10">
        <p class="line-break-down">Abaixo está a lista de diretrizes contempladas ou não no OA, agrupadas por deficiência.</p>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card class="mb-20 bl-white line-h-28">
    <ion-title  class="bg-theme-5"  *ngIf="diretrizesPorDeficienciaComErro != null && diretrizesPorDeficienciaComErro.length > 0">
      <div class="line-break-down ptb-5">Diretrizes Não Contempladas:</div>
    </ion-title>
  </ion-card>

  <div *ngFor="let deficienciaAtual of diretrizesPorDeficienciaComErro" class="mb-15">
    <ion-card class="mb-10 bl-white line-h-28 mt-25">
      <ion-title class="bg-theme-4"><div class="line-break-down ptb-5">{{deficienciaAtual.descricaoDeficiencia}}</div></ion-title>
    </ion-card>
    <ion-card class="bl-4 mb-15" *ngFor="let diretrizAtual of deficienciaAtual.diretrizes">
      <ion-list>
        <ion-item class="pt-10 ptb-10">
          <p class="line-break-down">{{diretrizAtual.getDescricaoDiretriz()}}</p>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <ion-card class="mb-20 bl-white line-h-28">
    <ion-title  class="bg-theme-6"  *ngIf="diretrizesPorDeficienciaSemErro != null && diretrizesPorDeficienciaSemErro.length > 0">
      <div class="line-break-down ptb-5">Diretrizes Contempladas:</div>
    </ion-title>
  </ion-card>

  <div *ngFor="let deficienciaAtual2 of diretrizesPorDeficienciaSemErro">
    <ion-card class="mb-10 bl-white line-h-28 mt-25">
      <ion-title class="bg-theme-4"><div class="line-break-down ptb-5">{{deficienciaAtual2.descricaoDeficiencia}}</div></ion-title>
    </ion-card>
    <ion-card class="bl-4 mb-15" *ngFor="let diretrizAtual2 of deficienciaAtual2.diretrizes">
      <ion-list>
        <ion-item class="pt-10 ptb-10">
          <p class="line-break-down">{{diretrizAtual2.getDescricaoDiretriz()}}</p>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
